@import url(./global.css);

body{
    background-color: var(--color-black);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-body-alexandria);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    align-items: center;
    padding: 16px;
}

.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-body-alexandria);
}

.btn-primary{
    background-color: var(--color-green);
    padding: 10px 24px;
    border-radius: 40px;
    color: var(--color-black);
    font-family: var(--font-body-alexandria);
    text-decoration: none;
}

main{
    display: flex;
    gap: 85px;
    padding: 60px 166px;
    background-color: var(--color-black);
    
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    padding: 10px 12px;
    gap: 8px;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 24px;
    align-self: flex-start;
}

h1{
    color: var(--color-white);
    font-size: var(--font-size-title-1);
    width: 521px;
    font-family: var(--font-body-alexandria);
}

.content-main p{
    color: var(--color-gray-1);
    font-family: var(--font-body-inter);
    font-size: var(--font-size-subtitle);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
} 
    

.btn-green{
    display: flex;
    align-items: center;
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: black;
    text-decoration: none;
    font-family: var(--font-body-alexandria);
}

.btn-secondary{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    border: 1px solid var(--color-gray-2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-body-alexandria);
}


