@import url(./global.css);

body{
    background-color: var(--color-black);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-body-alexandria);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    align-items: center;
    padding: 16px;
}

.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-body-alexandria);
}

.btn-primary{
    background-color: var(--color-green);
    padding: 10px 24px;
    border-radius: 40px;
    color: var(--color-black);
    font-family: var(--font-body-alexandria);
    text-decoration: none;
}

main{
    display: flex;
    gap: 85px;
    padding: 60px 166px;
    background-color: var(--color-black);
    
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    padding: 10px 12px;
    gap: 8px;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 24px;
    align-self: flex-start;
}

h1{
    color: var(--color-white);
    font-size: var(--font-size-title-1);
    width: 521px;
    font-family: var(--font-body-alexandria);
}

.content-main p{
    color: var(--color-gray-1);
    font-family: var(--font-body-inter);
    font-size: var(--font-size-subtitle);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
} 
    

.btn-green{
    display: flex;
    align-items: center;
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: black;
    text-decoration: none;
    font-family: var(--font-body-alexandria);
}

.btn-secondary{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    border: 1px solid var(--color-gray-2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-body-alexandria);
}

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 40px;
    background-color: var(--color-gray-4);
}

.section-partners h2{
    color: var(--color-gray-1);
    font-family: var(--font-body-alexandria);
    font-size: var(--font-size-text-1);
}

.container-img-partners{
    display: flex;
    gap: 50px;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

.content-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-breakdown span{
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-body-alexandria);
    font-size: var(--font-size-text-2);
}

.content-breakdown h2{
    font-family: var(--font-body-alexandria);
    font-size: var(--font-size-title-2);
    color: var(--color-white);
    font-weight: 400;
}

.content-breakdown p{
    font-family: var(--font-body-inter);
    color: var(--color-gray-1);
    width: 572px;
    text-align: center;
}

.container-cards-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px;
    background-color: #ffffff04;
    border: 1px solid var(--color-gray-3);
    border-radius: 12px;
}

.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.card-breakdown div h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-body-inter);
    font-weight: 400;
}

.card-breakdown div p {
    color: var(--color-gray-1);
    font-size: var(--font-size-text-1);
    font-family: var(--font-family-alexandria);
    width: 338px;
}

.section-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--color-gray-4);
    padding: 60px 0;
}

.content-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-statistics span{
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-body-alexandria);
    font-size: var(--font-size-text-2);
}

.content-statistics h2{
    color: var(--color-white);
    font-family: var(--font-body-alexandria);
    font-size: var(--font-size-title-2);
    font-weight: 400;
}

.content-statistics p{
    color: var(--color-gray-1);
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    width: 644px;
    text-align: center;
    line-height: 140%;    
}

.container-number-statistics{
    display: flex;
    justify-content: center;
    gap: 72px;
}

.number-statistics{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;    
}

.number-statistics h3{
    font-family: var(--font-body-alexandria);
    font-size: var(--font-size-title-2);
    color: var(--color-green);
    font-weight: 400;
}

.number-statistics p{
    color: var(--color-gray-1);
    font-family: var(--font-body-inter);
    font-size: var(--font-size-subtitle);
}


